*{
    color: #FF0000;
    background-color: #0000FF;
}
ul li:nth-child(1) {
    font-weight: bold;
}

ul li:nth-child(1)::after{
    content: " Protanopia dificultad";
}

#mensage::after{
    content: " longitudes de onda largas (las del color rojo) ";
}