/* Hoja de estilos para el ejercicio Formulario 1. */

body{
    background-color: #ddd;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color:maroon;
}

#contenedor {
    width: 40%;
    margin: auto;
    padding: 10px;
    border: 5px double maroon;
    background-color: #ddd;
}
.botones{
    font-size: 16px;
    color:maroon;
    font-weight: bold;
}
#b-izdo{
    float: left;
}
#b-dcho{
    float: right;
}